@font-face {
  font-family: "Yekan";
  src: url("../fonts/yekan/Yekan.eot") format("eot"),
    /* IE6–8 */
    url("../fonts/yekan/Yekan.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/yekan/Yekan.ttf") format("ttf");
  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  font-weight: 500;
}